@import '_bootstrap_overrides.scss';
@import '~bootstrap/scss/bootstrap.scss';

$footer-height: 60px;

html {
    position: relative;
    min-height: 100%;
}

body {
    // margin reserved for footer
    margin-bottom: $footer-height * 2;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;
    overflow: hidden;
    background-color: #eeeeee;
}

.caution-stripes {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: repeating-linear-gradient(
        45deg,
        $brand-warning,
        $brand-warning 10px,
        $brand-danger 10px,
        $brand-danger 20px
    );
    cursor: pointer;
    opacity: 0.1;
}

.caution-stripes:hover {
    opacity: 0.3;
}
